<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include projects_head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}
  
      </div>

      <div class="push"></div>
    </main>

    {%- include footer.html -%}

</body>
<script>
    function toggleDescription(id) {
        var desc = document.getElementById(id);
        if (desc.style.display === "none" || desc.style.display === "") {
            desc.style.display = "block";
        } else {
            desc.style.display = "none";
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
      filterProjects(); // Run filter on page load
    });

    function filterProjects() {
      var selectedCategory = document.getElementById("category-filter").value;
      var projects = document.querySelectorAll(".project-item");

      projects.forEach(function(project) {
        var categories = project.getAttribute("data-category").split(","); // Convert string to array

        if (selectedCategory === "all" || categories.includes(selectedCategory)) {
          project.style.display = "block"; // Show projects that match
        } else {
          project.style.display = "none"; // Hide non-matching projects
        }
      });
    }
</script>

</html>
